openapi: 3.0.3
info:
  title: 'Laravel API Documentation'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://alebdaa.cloudledger.ae'
tags:
  -
    name: 'Bulk Journal Import'
    description: "\nAPIs for bulk importing journal vouchers via CSV."
  -
    name: 'Invoice Services'
    description: "\nAPIs for managing invoice services."
  -
    name: 'Journal Entries'
    description: "\nAPIs for managing journal entries (headers) with nested transaction lines."
  -
    name: 'Journal Transaction Lines'
    description: "\nAPIs for querying journal transaction lines from posted journal vouchers."
  -
    name: 'Ledger of Accounts'
    description: "\nAPIs for managing ledger accounts with filtering, sorting, and pagination."
  -
    name: 'Package 3 Modular'
    description: ''
  -
    name: 'Package One'
    description: "\nAPIs for creating Package One journal entries (financial impact only).\nInvoices are created separately via InvoiceController."
  -
    name: 'Receipt Vouchers'
    description: "\nAPIs for managing receipt vouchers with automatic journal entry creation."
  -
    name: 'Typing Transaction Government Invoices'
    description: "\nAPIs for managing Typing Transaction Government Invoices."
paths:
  /api/journals/bulk-import:
    post:
      summary: 'Bulk Import Journal Vouchers'
      operationId: bulkImportJournalVouchers
      description: "Import multiple journal entries from a CSV file. Each journal entry is grouped by posting_date.\n\nCSV columns:\n- ledger_name (required): Name of the ledger account\n- debit (required): Debit amount (use 0 if credit)\n- credit (required): Credit amount (use 0 if debit)\n- posting_date (required): Date in Y-m-d format\n- candidate_id (optional): Employee/candidate ID\n- note (optional): Transaction note"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Import completed'
                  created_journals: 3
                  total_rows: 10
                  errors: []
                properties:
                  message:
                    type: string
                    example: 'Import completed'
                  created_journals:
                    type: integer
                    example: 3
                  total_rows:
                    type: integer
                    example: 10
                  errors:
                    type: array
                    example: []
      tags:
        - 'Bulk Journal Import'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'The CSV file to import.'
              required:
                - file
      security: []
  /api/invoice-services:
    post:
      summary: 'Create Invoice Service'
      operationId: createInvoiceService
      description: 'Store a newly created resource in storage.'
      parameters: []
      responses: {  }
      tags:
        - 'Invoice Services'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                code:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'n'
                note:
                  type: string
                  description: 'Must not be greater than 1000 characters.'
                  example: g
                  nullable: true
                status:
                  type: boolean
                  description: ''
                  example: false
                type:
                  type: integer
                  description: ''
                  example: 1
                  enum:
                    - 1
                    - 2
                    - 3
                settings:
                  type: object
                  description: ''
                  example: null
                  properties: {  }
                  nullable: true
                lines:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: object
                    nullable: true
                    properties:
                      ledger_account_id:
                        type: integer
                        description: 'The <code>id</code> of an existing record in the ledger_of_accounts table.'
                        example: 16
                      amount_debit:
                        type: number
                        description: 'Must be at least 0.'
                        example: 39
                        nullable: true
                      amount_credit:
                        type: number
                        description: 'Must be at least 0.'
                        example: 84
                        nullable: true
                      vatable:
                        type: boolean
                        description: ''
                        example: true
                      note:
                        type: string
                        description: 'Must not be greater than 255 characters.'
                        example: z
                        nullable: true
                      source_amount:
                        type: integer
                        description: ''
                        example: 2
                        enum:
                          - 1
                          - 2
                    required:
                      - ledger_account_id
                      - source_amount
              required:
                - name
                - code
                - type
      security: []
  '/api/invoice-services/{id}':
    put:
      summary: 'Update Invoice Service'
      operationId: updateInvoiceService
      description: 'Update the specified resource in storage.'
      parameters: []
      responses: {  }
      tags:
        - 'Invoice Services'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: b
                code:
                  type: string
                  description: 'Must not be greater than 255 characters.'
                  example: 'n'
                note:
                  type: string
                  description: 'Must not be greater than 1000 characters.'
                  example: g
                  nullable: true
                status:
                  type: boolean
                  description: ''
                  example: true
                type:
                  type: integer
                  description: ''
                  example: 3
                  enum:
                    - 1
                    - 2
                    - 3
                settings:
                  type: object
                  description: ''
                  example: null
                  properties: {  }
                  nullable: true
                lines:
                  type: array
                  description: ''
                  example: null
                  items:
                    type: object
                    nullable: true
                    properties:
                      id:
                        type: string
                        description: 'The <code>id</code> of an existing record in the invoice_service_lines table.'
                        example: null
                        nullable: true
                      ledger_account_id:
                        type: integer
                        description: 'The <code>id</code> of an existing record in the ledger_of_accounts table.'
                        example: 16
                      amount_debit:
                        type: number
                        description: 'Must be at least 0.'
                        example: 39
                        nullable: true
                      amount_credit:
                        type: number
                        description: 'Must be at least 0.'
                        example: 84
                        nullable: true
                      vatable:
                        type: boolean
                        description: ''
                        example: true
                      note:
                        type: string
                        description: 'Must not be greater than 255 characters.'
                        example: z
                        nullable: true
                      source_amount:
                        type: integer
                        description: ''
                        example: 2
                        enum:
                          - 1
                          - 2
                    required:
                      - ledger_account_id
      security: []
    delete:
      summary: 'Delete Invoice Service'
      operationId: deleteInvoiceService
      description: 'Remove the specified resource from storage.'
      parameters: []
      responses: {  }
      tags:
        - 'Invoice Services'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the invoice service.'
        example: architecto
        required: true
        schema:
          type: string
  /api/journals:
    post:
      summary: 'Create a new journal entry'
      operationId: createANewJournalEntry
      description: 'Store a newly created journal entry with nested transaction lines.'
      parameters: []
      responses: {  }
      tags:
        - 'Journal Entries'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                posting_date:
                  type: date
                  description: 'The posting date.'
                  example: '2026-01-07'
                status:
                  type: integer
                  description: 'The status: 0=Draft, 1=Posted, 2=Void.'
                  example: 0
                source_type:
                  type: string
                  description: 'optional Source model type.'
                  example: App\Models\Invoice
                  nullable: true
                source_id:
                  type: integer
                  description: 'optional Source model ID.'
                  example: 123
                  nullable: true
                pre_src_type:
                  type: string
                  description: 'optional Previous source type.'
                  example: App\Models\Order
                  nullable: true
                pre_src_id:
                  type: integer
                  description: 'optional Previous source ID.'
                  example: 456
                  nullable: true
                note:
                  type: string
                  description: 'optional Journal notes.'
                  example: 'Monthly payment entry'
                  nullable: true
                meta_json:
                  type: object
                  description: 'optional Additional metadata.'
                  example:
                    reference: PAY-001
                  properties: {  }
                  nullable: true
                created_by:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: 16
                lines:
                  type: array
                  description: 'Array of transaction lines (minimum 2). Total debits must equal total credits.'
                  example:
                    - architecto
                  items:
                    type: string
              required:
                - posting_date
                - status
                - created_by
                - lines
      security: []
  '/api/journals/{id}':
    put:
      summary: 'Update a journal entry'
      operationId: updateAJournalEntry
      description: 'Update the details of a specific journal entry and its nested lines.'
      parameters: []
      responses: {  }
      tags:
        - 'Journal Entries'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                posting_date:
                  type: date
                  description: 'optional The posting date.'
                  example: '2026-01-08'
                status:
                  type: integer
                  description: 'optional The status: 0=Draft, 1=Posted, 2=Void.'
                  example: 1
                source_type:
                  type: string
                  description: 'Source model type. Must not be greater than 255 characters.'
                  example: App\Models\Invoice
                  nullable: true
                source_id:
                  type: integer
                  description: 'Source model ID.'
                  example: 123
                  nullable: true
                pre_src_type:
                  type: string
                  description: 'Previous source type. Must not be greater than 255 characters.'
                  example: App\Models\Order
                  nullable: true
                pre_src_id:
                  type: integer
                  description: 'Previous source ID.'
                  example: 456
                  nullable: true
                note:
                  type: string
                  description: 'optional Journal notes.'
                  example: 'Updated entry'
                  nullable: true
                meta_json:
                  type: object
                  description: 'Additional metadata.'
                  example:
                    reference: PAY-001
                  properties: {  }
                  nullable: true
                lines:
                  type: array
                  description: "optional Array of transaction lines. Include 'id' to update existing lines, omit to create new ones."
                  example:
                    - architecto
                  items:
                    type: string
      security: []
    delete:
      summary: 'Delete a journal entry'
      operationId: deleteAJournalEntry
      description: 'Remove a specific journal entry and its transaction lines from the database.'
      parameters: []
      responses: {  }
      tags:
        - 'Journal Entries'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the journal entry.'
        example: 1
        required: true
        schema:
          type: integer
  /api/journal-tran-lines/bulk-update-status:
    post:
      summary: 'Bulk update journal status'
      operationId: bulkUpdateJournalStatus
      description: 'Update the status of multiple journal headers by their IDs.'
      parameters: []
      responses: {  }
      tags:
        - 'Journal Transaction Lines'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ids:
                  type: array
                  description: 'The <code>id</code> of an existing record in the journal_headers table.'
                  example:
                    - 16
                  items:
                    type: integer
                status:
                  type: integer
                  description: ''
                  example: 0
                  enum:
                    - 0
                    - 1
                    - 2
              required:
                - status
      security: []
  /api/ledgers:
    post:
      summary: 'Create a new ledger account'
      operationId: createANewLedgerAccount
      description: 'Store a newly created ledger account in the database.'
      parameters: []
      responses: {  }
      tags:
        - 'Ledger of Accounts'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the ledger account.'
                  example: 'Cash Account'
                class:
                  type: integer
                  description: 'The class of the ledger account.'
                  example: 1
                sub_class:
                  type: integer
                  description: 'The sub-class of the ledger account.'
                  example: 0
                group:
                  type: string
                  description: 'optional The group.'
                  example: Assets
                  nullable: true
                spacial:
                  type: integer
                  description: 'Spacial value.'
                  example: 0
                type:
                  type: string
                  description: 'The type (dr or cr).'
                  example: dr
                note:
                  type: string
                  description: 'optional Additional notes.'
                  example: 'Main cash account'
                  nullable: true
                created_by:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: 16
                updated_by:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: 16
              required:
                - name
                - class
                - sub_class
                - spacial
                - type
                - created_by
                - updated_by
      security: []
  '/api/ledgers/{id}':
    put:
      summary: 'Update a ledger account'
      operationId: updateALedgerAccount
      description: 'Update the details of a specific ledger account.'
      parameters: []
      responses: {  }
      tags:
        - 'Ledger of Accounts'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the ledger account.'
                  example: 'Updated Cash Account'
                class:
                  type: integer
                  description: 'The class of the ledger account.'
                  example: 1
                sub_class:
                  type: integer
                  description: 'The sub-class of the ledger account.'
                  example: 0
                group:
                  type: string
                  description: 'optional The group.'
                  example: Assets
                  nullable: true
                spacial:
                  type: integer
                  description: 'Spacial value.'
                  example: 0
                type:
                  type: string
                  description: 'The type (dr or cr).'
                  example: dr
                note:
                  type: string
                  description: 'optional Additional notes.'
                  example: 'Updated notes'
                  nullable: true
                created_by:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: 16
                updated_by:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: 16
              required:
                - name
                - class
                - sub_class
                - spacial
                - type
                - created_by
                - updated_by
      security: []
    delete:
      summary: 'Delete a ledger account'
      operationId: deleteALedgerAccount
      description: 'Remove a specific ledger account from the database.'
      parameters: []
      responses: {  }
      tags:
        - 'Ledger of Accounts'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the ledger account.'
        example: 1
        required: true
        schema:
          type: integer
  /api/am-monthly-contracts/lookup-employees:
    get:
      summary: 'Lookup employees (maids).'
      operationId: lookupEmployeesmaids
      description: 'Search employees by name for autocomplete. Returns id and name only.'
      parameters:
        -
          in: query
          name: search
          description: 'Search term to match against maid name.'
          example: maria
          required: false
          schema:
            type: string
            description: 'Search term to match against maid name.'
            example: maria
        -
          in: query
          name: limit
          description: 'Maximum number of results. Default: 20.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'Maximum number of results. Default: 20.'
            example: 10
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 5
                    name:
                      type: string
                      example: 'Maria Santos'
                example:
                  -
                    id: 5
                    name: 'Maria Santos'
                  -
                    id: 12
                    name: 'Maria Garcia'
      tags:
        - 'Package 3 Modular'
      security: []
  /api/am-monthly-contracts/lookup-all-employees:
    get:
      summary: 'Lookup all employees (maids).'
      operationId: lookupAllEmployeesmaids
      description: 'Search all employees by name for autocomplete. Returns id and name only.'
      parameters:
        -
          in: query
          name: search
          description: 'Search term to match against employee name.'
          example: maria
          required: false
          schema:
            type: string
            description: 'Search term to match against employee name.'
            example: maria
        -
          in: query
          name: limit
          description: 'Maximum number of results. Default: 20.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'Maximum number of results. Default: 20.'
            example: 10
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      example: 5
                    name:
                      type: string
                      example: 'Maria Santos'
                example:
                  -
                    id: 5
                    name: 'Maria Santos'
                  -
                    id: 12
                    name: 'Maria Garcia'
      tags:
        - 'Package 3 Modular'
      security: []
  /api/am-monthly-contracts/lookup-customers:
    get:
      summary: 'Lookup customers (CRM).'
      operationId: lookupCustomersCRM
      description: "Search customers by name, mobile, or CL number for autocomplete.\nReturns CRM IDs (not ledger IDs). Same response format as /api/ledgers/lookup-customers."
      parameters:
        -
          in: query
          name: search
          description: 'Search by name, mobile, CL number.'
          example: ahmed
          required: false
          schema:
            type: string
            description: 'Search by name, mobile, CL number.'
            example: ahmed
        -
          in: query
          name: page
          description: 'Page number.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Page number.'
            example: 1
        -
          in: query
          name: per_page
          description: 'Items per page. Default: 10.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Items per page. Default: 10.'
            example: 20
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  results:
                    -
                      id: 5
                      text: 'Ahmed Ali'
                      mobile: '0501234567'
                      crm:
                        first_name: Ahmed
                        last_name: Ali
                        mobile: '0501234567'
                        CL_Number: CL-001
                  pagination:
                    more: false
                    current_page: 1
                    total: 1
                properties:
                  results:
                    type: array
                    example:
                      -
                        id: 5
                        text: 'Ahmed Ali'
                        mobile: '0501234567'
                        crm:
                          first_name: Ahmed
                          last_name: Ali
                          mobile: '0501234567'
                          CL_Number: CL-001
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 5
                        text:
                          type: string
                          example: 'Ahmed Ali'
                        mobile:
                          type: string
                          example: '0501234567'
                        crm:
                          type: object
                          properties:
                            first_name:
                              type: string
                              example: Ahmed
                            last_name:
                              type: string
                              example: Ali
                            mobile:
                              type: string
                              example: '0501234567'
                            CL_Number:
                              type: string
                              example: CL-001
                  pagination:
                    type: object
                    properties:
                      more:
                        type: boolean
                        example: false
                      current_page:
                        type: integer
                        example: 1
                      total:
                        type: integer
                        example: 1
      tags:
        - 'Package 3 Modular'
      security: []
  /api/am-monthly-contracts/employees:
    get:
      summary: 'List employees (maids).'
      operationId: listEmployeesmaids
      description: 'Returns a paginated list of employees with optional filters.'
      parameters:
        -
          in: query
          name: per_page
          description: 'Number of items per page. Default: 15.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Number of items per page. Default: 15.'
            example: 20
        -
          in: query
          name: name
          description: 'Filter by employee name.'
          example: maria
          required: false
          schema:
            type: string
            description: 'Filter by employee name.'
            example: maria
        -
          in: query
          name: inside_status
          description: 'Filter by inside status (1 = Office, 4 = Hired).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by inside status (1 = Office, 4 = Hired).'
            example: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data:
                    -
                      id: 5
                      name: 'Maria Santos'
                      inside_status: 1
                  last_page: 1
                  per_page: 15
                  total: 1
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example:
                      -
                        id: 5
                        name: 'Maria Santos'
                        inside_status: 1
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 5
                        name:
                          type: string
                          example: 'Maria Santos'
                        inside_status:
                          type: integer
                          example: 1
                  last_page:
                    type: integer
                    example: 1
                  per_page:
                    type: integer
                    example: 15
                  total:
                    type: integer
                    example: 1
      tags:
        - 'Package 3 Modular'
      security: []
  /api/am-monthly-contracts/all-employees:
    get:
      summary: 'List all employees (maids).'
      operationId: listAllEmployeesmaids
      description: 'Returns a paginated list of employees with optional filters.'
      parameters:
        -
          in: query
          name: per_page
          description: 'Number of items per page. Default: 15.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Number of items per page. Default: 15.'
            example: 20
        -
          in: query
          name: name
          description: 'Filter by employee name.'
          example: maria
          required: false
          schema:
            type: string
            description: 'Filter by employee name.'
            example: maria
        -
          in: query
          name: inside_status
          description: "Filter by maid status enum:\n0 = Pending, 1 = Office, 2 = Hired, 3 = Incidented."
          example: 1
          required: false
          schema:
            type: integer
            description: "Filter by maid status enum:\n0 = Pending, 1 = Office, 2 = Hired, 3 = Incidented."
            example: 1
        -
          in: query
          name: nationality
          description: 'Filter by nationality.'
          example: Philippines
          required: false
          schema:
            type: string
            description: 'Filter by nationality.'
            example: Philippines
        -
          in: query
          name: payment_type
          description: 'Filter by payment type.'
          example: bank
          required: false
          schema:
            type: string
            description: 'Filter by payment type.'
            example: bank
        -
          in: query
          name: passport_no
          description: 'Filter by passport number (partial match).'
          example: P12345
          required: false
          schema:
            type: string
            description: 'Filter by passport number (partial match).'
            example: P12345
        -
          in: query
          name: emirates_id
          description: 'Filter by Emirates ID (partial match).'
          example: 784-
          required: false
          schema:
            type: string
            description: 'Filter by Emirates ID (partial match).'
            example: 784-
        -
          in: query
          name: reference_no
          description: 'Filter by reference number (partial match).'
          example: EMP-0001
          required: false
          schema:
            type: string
            description: 'Filter by reference number (partial match).'
            example: EMP-0001
        -
          in: query
          name: inside_country_or_outside
          description: 'Filter by location status (1 = Outside, 2 = Inside).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by location status (1 = Outside, 2 = Inside).'
            example: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data:
                    -
                      id: 5
                      name: 'Maria Santos'
                  last_page: 1
                  per_page: 15
                  total: 1
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example:
                      -
                        id: 5
                        name: 'Maria Santos'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 5
                        name:
                          type: string
                          example: 'Maria Santos'
                  last_page:
                    type: integer
                    example: 1
                  per_page:
                    type: integer
                    example: 15
                  total:
                    type: integer
                    example: 1
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
                inside_status:
                  type: integer
                  description: ''
                  example: 16
                  nullable: true
                nationality:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: 'n'
                  nullable: true
                payment_type:
                  type: string
                  description: 'Must not be greater than 50 characters.'
                  example: g
                  nullable: true
                passport_no:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: z
                  nullable: true
                emirates_id:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: m
                  nullable: true
                reference_no:
                  type: string
                  description: 'Must not be greater than 100 characters.'
                  example: i
                  nullable: true
                inside_country_or_outside:
                  type: integer
                  description: ''
                  example: 16
                  nullable: true
                per_page:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 200.'
                  example: 22
                  nullable: true
      security: []
  /api/am-monthly-contracts/import-excel:
    post:
      summary: 'Import monthly contracts from Excel.'
      operationId: importMonthlyContractsFromExcel
      description: "Expected heading columns:\n- customer (CL_Number from CRM table)\n- maid\n- start\n- end\n- amount\n- date_of_installment\n\nValidation:\n- customer CL_Number must exist in CRM table\n- maid must exist in Employees table\n\nCreates:\n1) am_primary_contracts\n2) am_contract_movments\n3) am_installments"
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Import completed'
                  contracts_created: 3
                  row_failures_count: 1
                  row_errors:
                    -
                      row: 4
                      error: 'Customer not found: Unknown'
                properties:
                  message:
                    type: string
                    example: 'Import completed'
                  contracts_created:
                    type: integer
                    example: 3
                  row_failures_count:
                    type: integer
                    example: 1
                  row_errors:
                    type: array
                    example:
                      -
                        row: 4
                        error: 'Customer not found: Unknown'
                    items:
                      type: object
                      properties:
                        row:
                          type: integer
                          example: 4
                        error:
                          type: string
                          example: 'Customer not found: Unknown'
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: 'Excel file (.xlsx/.xls/.csv) with heading row.'
              required:
                - file
      security: []
  '/api/am-monthly-contracts/{id}/return':
    post:
      summary: 'Return a maid from a contract movement.'
      operationId: returnAMaidFromAContractMovement
      description: "Records the return in am_return_maids, sets movement and contract status to 0,\nand resets the maid's inside_status back to 1 (in office)."
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Maid returned successfully'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Maid returned successfully'
                  data:
                    type: object
                    properties: {  }
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Validation failed'
                  errors: {  }
                properties:
                  message:
                    type: string
                    example: 'Validation failed'
                  errors:
                    type: object
                    properties: {  }
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Failed to return maid'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Failed to return maid'
                  error:
                    type: string
                    example: 'Error message'
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'The return date.'
                  example: '2026-02-19'
                note:
                  type: string
                  description: 'An optional note.'
                  example: 'Maid returned by customer'
                  nullable: true
                status:
                  type: integer
                  description: 'Return status (0 = Pending, 1 = Return to Office, 2 = Ran Away, 3 = Cancelled, 4 = Hold).'
                  example: 1
                  nullable: true
                action:
                  type: integer
                  description: 'Return action (1 = Pending, 2 = Replacement, 3 = Refund, 4 = Due Amount).'
                  example: 1
                  nullable: true
              required:
                - date
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The contract movement ID.'
        example: 3
        required: true
        schema:
          type: integer
  /api/am-incidents:
    get:
      summary: 'List incidents.'
      operationId: listIncidents
      description: 'Returns a paginated list of incidents (RanAway, Cancelled, Hold).'
      parameters:
        -
          in: query
          name: per_page
          description: 'Number of items per page. Default: 15.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Number of items per page. Default: 15.'
            example: 20
        -
          in: query
          name: status
          description: 'Filter by status (2 = Ran Away, 3 = Cancelled, 4 = Hold).'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Filter by status (2 = Ran Away, 3 = Cancelled, 4 = Hold).'
            example: 2
        -
          in: query
          name: employee_id
          description: 'Filter by employee ID.'
          example: 5
          required: false
          schema:
            type: integer
            description: 'Filter by employee ID.'
            example: 5
        -
          in: query
          name: crm_id
          description: 'Filter by customer ID.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by customer ID.'
            example: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      date: '2026-02-20'
                      status: 2
                      status_label: 'Ran Away'
                      note: 'Incident note'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        date: '2026-02-20'
                        status: 2
                        status_label: 'Ran Away'
                        note: 'Incident note'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        date:
                          type: string
                          example: '2026-02-20'
                        status:
                          type: integer
                          example: 2
                        status_label:
                          type: string
                          example: 'Ran Away'
                        note:
                          type: string
                          example: 'Incident note'
      tags:
        - 'Package 3 Modular'
      security: []
    post:
      summary: 'Store a new incident.'
      operationId: storeANewIncident
      description: ''
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Incident created successfully'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Incident created successfully'
                  data:
                    type: object
                    properties: {  }
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-03-09T22:12:36'
                am_movment_id:
                  type: string
                  description: 'The <code>id</code> of an existing record in the am_contract_movments table.'
                  example: architecto
                note:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
                status:
                  type: integer
                  description: ''
                  example: 4
                  enum:
                    - 2
                    - 3
                    - 4
                action:
                  type: integer
                  description: ''
                  example: 1
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                  nullable: true
              required:
                - date
                - am_movment_id
                - status
      security: []
  '/api/am-incidents/{id}':
    put:
      summary: 'Update an incident.'
      operationId: updateAnIncident
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-03-09T22:12:36'
                note:
                  type: string
                  description: ''
                  example: architecto
                  nullable: true
                status:
                  type: integer
                  description: ''
                  example: 3
                  enum:
                    - 2
                    - 3
                    - 4
                action:
                  type: integer
                  description: ''
                  example: 3
                  enum:
                    - 1
                    - 2
                    - 3
                    - 4
                  nullable: true
      security: []
    delete:
      summary: 'Delete an incident.'
      operationId: deleteAnIncident
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the am incident.'
        example: architecto
        required: true
        schema:
          type: string
  /api/amp3-action-notifies:
    post:
      summary: 'Raise a refund action notify.'
      operationId: raiseARefundActionNotify
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                am_contract_movement_id:
                  type: integer
                  description: 'Contract movement ID.'
                  example: 4
                amount:
                  type: number
                  description: 'Refund amount.'
                  example: 1200.0
                note:
                  type: string
                  description: 'Refund note.'
                  example: 'Customer requested refund'
                  nullable: true
                refund_date:
                  type: date
                  description: 'Refund date.'
                  example: '2026-02-21'
              required:
                - am_contract_movement_id
                - amount
                - refund_date
      security: []
  '/api/amp3-action-notifies/{id}':
    put:
      summary: 'Update an action notify.'
      operationId: updateAnActionNotify
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                am_contract_movement_id:
                  type: integer
                  description: 'Contract movement ID.'
                  example: 4
                amount:
                  type: number
                  description: 'Refund amount.'
                  example: 1200.0
                note:
                  type: string
                  description: 'Refund note.'
                  example: 'Updated refund note'
                  nullable: true
                refund_date:
                  type: date
                  description: 'Refund date.'
                  example: '2026-02-22'
                  nullable: true
                status:
                  type: integer
                  description: 'Status (0 = pending, 1 = approved, 2 = rejected).'
                  example: 1
      security: []
    delete:
      summary: 'Delete an action notify.'
      operationId: deleteAnActionNotify
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'Action notify ID.'
        example: 1
        required: true
        schema:
          type: integer
  /api/deduction-payrolls:
    post:
      summary: 'Store deduction payroll record(s).'
      operationId: storeDeductionPayrollRecords
      description: "Supports single-row create and bulk create in one endpoint.\n\nSingle row payload fields:"
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                rows:
                  type: array
                  description: 'Optional array for bulk create.'
                  example:
                    - architecto
                  items:
                    type: string
                deduction_date:
                  type: date
                  description: 'Optional deduction date.'
                  example: '2026-02-22'
                  nullable: true
                employee_id:
                  type: integer
                  description: 'Employee ID.'
                  example: 10
                payroll_year:
                  type: integer
                  description: 'Payroll year.'
                  example: 2026
                payroll_month:
                  type: integer
                  description: 'Payroll month (1-12).'
                  example: 2
                amount_deduction:
                  type: number
                  description: 'Optional deduction amount.'
                  example: 150.0
                  nullable: true
                amount_allowance:
                  type: number
                  description: 'Optional allowance amount.'
                  example: 50.0
                  nullable: true
                note:
                  type: string
                  description: 'Optional note.'
                  example: "Late penalty\n\nBulk payload fields:"
                  nullable: true
              required:
                - employee_id
                - payroll_year
                - payroll_month
      security: []
  '/api/deduction-payrolls/{id}':
    put:
      summary: 'Update deduction payroll record.'
      operationId: updateDeductionPayrollRecord
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                deduction_date:
                  type: date
                  description: 'Deduction date.'
                  example: '2026-02-22'
                  nullable: true
                employee_id:
                  type: integer
                  description: 'Employee ID.'
                  example: 10
                payroll_year:
                  type: integer
                  description: 'Payroll year.'
                  example: 2026
                payroll_month:
                  type: integer
                  description: 'Payroll month (1-12).'
                  example: 2
                amount_deduction:
                  type: number
                  description: 'Deduction amount.'
                  example: 150.0
                amount_allowance:
                  type: number
                  description: 'Allowance amount.'
                  example: 50.0
                note:
                  type: string
                  description: 'Optional note.'
                  example: 'Updated note'
                  nullable: true
      security: []
    delete:
      summary: 'Delete deduction payroll record.'
      operationId: deleteDeductionPayrollRecord
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'Deduction payroll ID.'
        example: 1
        required: true
        schema:
          type: integer
  /api/am-maid-payroll-histories/export/excel:
    get:
      summary: 'Export payroll histories to Excel.'
      operationId: exportPayrollHistoriesToExcel
      description: ''
      parameters:
        -
          in: query
          name: year
          description: 'Payroll year.'
          example: 2026
          required: true
          schema:
            type: integer
            description: 'Payroll year.'
            example: 2026
        -
          in: query
          name: month
          description: 'Payroll month (1-12).'
          example: 2
          required: true
          schema:
            type: integer
            description: 'Payroll month (1-12).'
            example: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Excel file download started'
                properties:
                  message:
                    type: string
                    example: 'Excel file download started'
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: integer
                  description: 'Must be at least 2020. Must not be greater than 2099.'
                  example: 1
                month:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 12.'
                  example: 4
              required:
                - year
                - month
      security: []
  /api/am-maid-payroll-histories:
    get:
      summary: 'List payroll histories.'
      operationId: listPayrollHistories
      description: ''
      parameters:
        -
          in: query
          name: per_page
          description: 'Number of items per page.'
          example: 15
          required: false
          schema:
            type: integer
            description: 'Number of items per page.'
            example: 15
        -
          in: query
          name: employee_id
          description: 'Filter by employee ID.'
          example: 10
          required: false
          schema:
            type: integer
            description: 'Filter by employee ID.'
            example: 10
        -
          in: query
          name: year
          description: 'Filter by payroll year.'
          example: 2026
          required: false
          schema:
            type: integer
            description: 'Filter by payroll year.'
            example: 2026
        -
          in: query
          name: month
          description: 'Filter by payroll month (1-12).'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Filter by payroll month (1-12).'
            example: 2
        -
          in: query
          name: status
          description: 'Filter by status.'
          example: paid
          required: false
          schema:
            type: string
            description: 'Filter by status.'
            example: paid
        -
          in: query
          name: payment_method
          description: 'Filter by payment method.'
          example: cash
          required: false
          schema:
            type: string
            description: 'Filter by payment method.'
            example: cash
        -
          in: query
          name: search
          description: 'Search in note field.'
          example: bonus
          required: false
          schema:
            type: string
            description: 'Search in note field.'
            example: bonus
        -
          in: query
          name: sort_by
          description: 'Sort field.'
          example: created_at
          required: false
          schema:
            type: string
            description: 'Sort field.'
            example: created_at
        -
          in: query
          name: sort_direction
          description: 'Sort direction (`asc` or `desc`).'
          example: desc
          required: false
          schema:
            type: string
            description: 'Sort direction (`asc` or `desc`).'
            example: desc
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data:
                    -
                      id: 1
                      employee_id: 10
                      year: 2026
                      month: 2
                      payment_method: bank
                      basic_salary: '1500.00'
                      deduction: '200.00'
                      allowance: '100.00'
                      net: '1400.00'
                      note: 'February payroll'
                      status: paid
                      created_at: '2026-02-28T10:00:00.000000Z'
                      updated_at: '2026-02-28T10:00:00.000000Z'
                  last_page: 1
                  per_page: 15
                  total: 1
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        employee_id: 10
                        year: 2026
                        month: 2
                        payment_method: bank
                        basic_salary: '1500.00'
                        deduction: '200.00'
                        allowance: '100.00'
                        net: '1400.00'
                        note: 'February payroll'
                        status: paid
                        created_at: '2026-02-28T10:00:00.000000Z'
                        updated_at: '2026-02-28T10:00:00.000000Z'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        employee_id:
                          type: integer
                          example: 10
                        year:
                          type: integer
                          example: 2026
                        month:
                          type: integer
                          example: 2
                        payment_method:
                          type: string
                          example: bank
                        basic_salary:
                          type: string
                          example: '1500.00'
                        deduction:
                          type: string
                          example: '200.00'
                        allowance:
                          type: string
                          example: '100.00'
                        net:
                          type: string
                          example: '1400.00'
                        note:
                          type: string
                          example: 'February payroll'
                        status:
                          type: string
                          example: paid
                        created_at:
                          type: string
                          example: '2026-02-28T10:00:00.000000Z'
                        updated_at:
                          type: string
                          example: '2026-02-28T10:00:00.000000Z'
                  last_page:
                    type: integer
                    example: 1
                  per_page:
                    type: integer
                    example: 15
                  total:
                    type: integer
                    example: 1
      tags:
        - 'Package 3 Modular'
      security: []
    post:
      summary: 'Store payroll history record(s).'
      operationId: storePayrollHistoryRecords
      description: 'Creates payroll history rows in bulk with per-employee values.'
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                year:
                  type: integer
                  description: 'Payroll year for all rows.'
                  example: 2026
                month:
                  type: integer
                  description: 'Payroll month (1-12) for all rows.'
                  example: 2
                note:
                  type: string
                  description: 'Optional note applied to all rows.'
                  example: 'February payroll'
                  nullable: true
                rows:
                  type: array
                  description: 'Payroll rows.'
                  example:
                    -
                      employee_id: 10
                      payment_method: bank
                      basic_salary: 1500
                      deduction: 200
                      allowance: 100
                      net: 1400
                      paid_at: '2026-02-28 10:00:00'
                      status: paid
                    -
                      employee_id: 11
                      payment_method: cash
                      basic_salary: 1800
                      deduction: 50
                      allowance: 0
                      net: 1750
                      paid_at: '2026-02-28 10:00:00'
                      status: paid
                  items:
                    type: string
              required:
                - year
                - month
                - rows
      security: []
  '/api/am-maid-payroll-histories/{id}':
    get:
      summary: 'Show payroll history record.'
      operationId: showPayrollHistoryRecord
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  employee_id: 10
                  year: 2026
                  month: 2
                  payment_method: bank
                  basic_salary: '1500.00'
                  deduction: '200.00'
                  allowance: '100.00'
                  net: '1400.00'
                  note: 'February payroll'
                  status: paid
                  created_at: '2026-02-28T10:00:00.000000Z'
                  updated_at: '2026-02-28T10:00:00.000000Z'
                properties:
                  id:
                    type: integer
                    example: 1
                  employee_id:
                    type: integer
                    example: 10
                  year:
                    type: integer
                    example: 2026
                  month:
                    type: integer
                    example: 2
                  payment_method:
                    type: string
                    example: bank
                  basic_salary:
                    type: string
                    example: '1500.00'
                  deduction:
                    type: string
                    example: '200.00'
                  allowance:
                    type: string
                    example: '100.00'
                  net:
                    type: string
                    example: '1400.00'
                  note:
                    type: string
                    example: 'February payroll'
                  status:
                    type: string
                    example: paid
                  created_at:
                    type: string
                    example: '2026-02-28T10:00:00.000000Z'
                  updated_at:
                    type: string
                    example: '2026-02-28T10:00:00.000000Z'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Payroll history not found'
                properties:
                  message:
                    type: string
                    example: 'Payroll history not found'
      tags:
        - 'Package 3 Modular'
      security: []
    put:
      summary: 'Update payroll history record.'
      operationId: updatePayrollHistoryRecord
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                employee_id:
                  type: integer
                  description: 'Employee ID.'
                  example: 10
                year:
                  type: integer
                  description: 'Payroll year.'
                  example: 2026
                month:
                  type: integer
                  description: 'Payroll month (1-12).'
                  example: 2
                payment_method:
                  type: string
                  description: 'Payment method.'
                  example: bank
                  nullable: true
                basic_salary:
                  type: number
                  description: 'Basic salary.'
                  example: 1500.0
                deduction:
                  type: number
                  description: 'Deduction amount.'
                  example: 200.0
                allowance:
                  type: number
                  description: 'Allowance amount.'
                  example: 100.0
                net:
                  type: number
                  description: 'Net amount.'
                  example: 1400.0
                note:
                  type: string
                  description: 'Optional note.'
                  example: 'Updated note'
                  nullable: true
                paid_at:
                  type: date
                  description: 'Optional paid date/time.'
                  example: '2026-02-28 10:00:00'
                  nullable: true
                status:
                  type: string
                  description: Status.
                  example: paid
                  nullable: true
      security: []
    delete:
      summary: 'Delete payroll history record.'
      operationId: deletePayrollHistoryRecord
      description: ''
      parameters: []
      responses: {  }
      tags:
        - 'Package 3 Modular'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'Payroll history ID.'
        example: 1
        required: true
        schema:
          type: integer
  /api/am-monthly-contracts:
    get:
      summary: 'List all monthly contracts.'
      operationId: listAllMonthlyContracts
      description: 'Returns a paginated list of monthly contracts with movements, installments, employee and customer data.'
      parameters:
        -
          in: query
          name: per_page
          description: 'Number of items per page. Default: 15.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Number of items per page. Default: 15.'
            example: 20
        -
          in: query
          name: customer_name
          description: 'Filter by customer name (first or last).'
          example: Ahmed
          required: false
          schema:
            type: string
            description: 'Filter by customer name (first or last).'
            example: Ahmed
        -
          in: query
          name: crm_id
          description: 'Filter by customer (CRM) ID.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by customer (CRM) ID.'
            example: 1
        -
          in: query
          name: employee_name
          description: 'Filter by employee/maid name.'
          example: Maria
          required: false
          schema:
            type: string
            description: 'Filter by employee/maid name.'
            example: Maria
        -
          in: query
          name: employee_id
          description: 'Filter by employee/maid ID.'
          example: 5
          required: false
          schema:
            type: integer
            description: 'Filter by employee/maid ID.'
            example: 5
        -
          in: query
          name: status
          description: 'Filter by status (0 = inactive, 1 = active).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by status (0 = inactive, 1 = active).'
            example: 1
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data: []
                  last_page: 1
                  per_page: 15
                  total: 0
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example: []
                  last_page:
                    type: integer
                    example: 1
                  per_page:
                    type: integer
                    example: 15
                  total:
                    type: integer
                    example: 0
      tags:
        - 'Package 3 Modular'
      security: []
    post:
      summary: 'Create a new monthly contract.'
      operationId: createANewMonthlyContract
      description: "Creates a primary contract with a contract movement and installments.\nOptionally creates a prorate journal entry when prorate_amount is provided."
      parameters: []
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Contract created successfully'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Contract created successfully'
                  data:
                    type: object
                    properties: {  }
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Prorate amount is less than maid salary.'
                  errors:
                    prorate_amount:
                      - 'Prorate base amount (X) is less than maid salary cost (Y).'
                properties:
                  message:
                    type: string
                    example: 'Prorate amount is less than maid salary.'
                  errors:
                    type: object
                    properties:
                      prorate_amount:
                        type: array
                        example:
                          - 'Prorate base amount (X) is less than maid salary cost (Y).'
                        items:
                          type: string
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Failed to create contract'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Failed to create contract'
                  error:
                    type: string
                    example: 'Error message'
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                start_date:
                  type: string
                  description: 'The contract start date.'
                  example: '2026-03-01'
                ended_date:
                  type: string
                  description: 'The contract end date.'
                  example: '2027-03-01'
                  nullable: true
                customer_id:
                  type: integer
                  description: 'The customer (CRM) ID.'
                  example: 1
                maid_id:
                  type: integer
                  description: 'The employee/maid ID.'
                  example: 5
                installment:
                  type: array
                  description: 'List of installments.'
                  example:
                    - architecto
                  items:
                    type: string
                prorate_amount:
                  type: number
                  description: 'The prorate amount (VAT inclusive). When provided, a journal entry is created splitting the amount into VAT, salary cost, and profit.'
                  example: 3000.0
                  nullable: true
                prorate_days:
                  type: integer
                  description: 'Number of prorate days (1-30, required when prorate_amount is provided).'
                  example: 24
                  nullable: true
              required:
                - start_date
                - customer_id
                - maid_id
                - installment
      security: []
  '/api/am-monthly-contracts/{id}':
    get:
      summary: 'Display a specific monthly contract.'
      operationId: displayASpecificMonthlyContract
      description: 'Returns a single contract with its movements, installments, employee and customer data.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 1
                  date: '2026-03-01'
                  crm_id: 1
                  end_date: '2027-03-01'
                  status: 1
                  type: 2
                  contract_movments: []
                  crm: {  }
                properties:
                  id:
                    type: integer
                    example: 1
                  date:
                    type: string
                    example: '2026-03-01'
                  crm_id:
                    type: integer
                    example: 1
                  end_date:
                    type: string
                    example: '2027-03-01'
                  status:
                    type: integer
                    example: 1
                  type:
                    type: integer
                    example: 2
                  contract_movments:
                    type: array
                    example: []
                  crm:
                    type: object
                    properties: {  }
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Contract not found'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Contract not found'
                  error:
                    type: string
                    example: 'Error message'
      tags:
        - 'Package 3 Modular'
      security: []
    put:
      summary: 'Update a monthly contract.'
      operationId: updateAMonthlyContract
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Contract updated successfully'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Contract updated successfully'
                  data:
                    type: object
                    properties: {  }
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Contract not found'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Contract not found'
                  error:
                    type: string
                    example: 'Error message'
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Failed to update contract'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Failed to update contract'
                  error:
                    type: string
                    example: 'Error message'
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'The contract start date.'
                  example: '2026-04-01'
                end_date:
                  type: string
                  description: 'The contract end date.'
                  example: '2027-04-01'
                  nullable: true
                note:
                  type: string
                  description: 'An optional note.'
                  example: 'Updated contract note'
                  nullable: true
      security: []
    delete:
      summary: 'Delete a monthly contract.'
      operationId: deleteAMonthlyContract
      description: 'Deletes the contract and its associated movements and installments.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Contract deleted successfully'
                properties:
                  message:
                    type: string
                    example: 'Contract deleted successfully'
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Failed to delete contract'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Failed to delete contract'
                  error:
                    type: string
                    example: 'Error message'
      tags:
        - 'Package 3 Modular'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The contract ID.'
        example: 1
        required: true
        schema:
          type: integer
  /api/am-contract-movements:
    get:
      summary: 'List contract movements.'
      operationId: listContractMovements
      description: "Returns a paginated list of contract movements with optional filters.\nEach movement includes the related contract, customer, employee, installments, and return info."
      parameters:
        -
          in: query
          name: per_page
          description: 'Number of items per page. Default: 15.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Number of items per page. Default: 15.'
            example: 20
        -
          in: query
          name: sort_by
          description: 'Sort field (id, date, status, created_at). Default: date.'
          example: status
          required: false
          schema:
            type: string
            description: 'Sort field (id, date, status, created_at). Default: date.'
            example: status
        -
          in: query
          name: sort_direction
          description: 'Sort direction (asc, desc). Default: desc.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort direction (asc, desc). Default: desc.'
            example: asc
        -
          in: query
          name: contract_id
          description: 'Filter by primary contract ID.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by primary contract ID.'
            example: 1
        -
          in: query
          name: employee_id
          description: 'Filter by employee/maid ID.'
          example: 5
          required: false
          schema:
            type: integer
            description: 'Filter by employee/maid ID.'
            example: 5
        -
          in: query
          name: employee_name
          description: 'Filter by employee/maid name.'
          example: Maria
          required: false
          schema:
            type: string
            description: 'Filter by employee/maid name.'
            example: Maria
        -
          in: query
          name: customer_name
          description: 'Filter by customer name (first or last).'
          example: Ahmed
          required: false
          schema:
            type: string
            description: 'Filter by customer name (first or last).'
            example: Ahmed
        -
          in: query
          name: crm_id
          description: 'Filter by customer (CRM) ID.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by customer (CRM) ID.'
            example: 1
        -
          in: query
          name: status
          description: 'Filter by status (0 = inactive, 1 = active).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by status (0 = inactive, 1 = active).'
            example: 1
        -
          in: query
          name: date_from
          description: 'Filter movements from this date.'
          example: '2026-01-01'
          required: false
          schema:
            type: string
            description: 'Filter movements from this date.'
            example: '2026-01-01'
        -
          in: query
          name: date_to
          description: 'Filter movements until this date.'
          example: '2026-12-31'
          required: false
          schema:
            type: string
            description: 'Filter movements until this date.'
            example: '2026-12-31'
        -
          in: query
          name: search
          description: 'Search by note.'
          example: contract
          required: false
          schema:
            type: string
            description: 'Search by note.'
            example: contract
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  current_page: 1
                  data:
                    -
                      id: 3
                      date: '2026-03-01'
                      am_contract_id: 1
                      employee_id: 5
                      status: 1
                      primary_contract:
                        crm: {  }
                      employee: {  }
                      installments: []
                      return_info: null
                  last_page: 1
                  per_page: 15
                  total: 1
                properties:
                  current_page:
                    type: integer
                    example: 1
                  data:
                    type: array
                    example:
                      -
                        id: 3
                        date: '2026-03-01'
                        am_contract_id: 1
                        employee_id: 5
                        status: 1
                        primary_contract:
                          crm: []
                        employee: []
                        installments: []
                        return_info: null
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 3
                        date:
                          type: string
                          example: '2026-03-01'
                        am_contract_id:
                          type: integer
                          example: 1
                        employee_id:
                          type: integer
                          example: 5
                        status:
                          type: integer
                          example: 1
                        primary_contract:
                          type: object
                          properties:
                            crm:
                              type: object
                              properties: {  }
                        employee:
                          type: object
                          properties: {  }
                        installments:
                          type: array
                          example: []
                        return_info:
                          type: string
                          example: null
                          nullable: true
                  last_page:
                    type: integer
                    example: 1
                  per_page:
                    type: integer
                    example: 15
                  total:
                    type: integer
                    example: 1
      tags:
        - 'Package 3 Modular'
      security: []
  '/api/am-contract-movements/{id}':
    get:
      summary: 'Display a specific contract movement.'
      operationId: displayASpecificContractMovement
      description: 'Returns a single contract movement with its related contract, customer, employee, installments, and return info.'
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  id: 3
                  date: '2026-03-01'
                  am_contract_id: 1
                  employee_id: 5
                  status: 1
                  primary_contract:
                    crm: {  }
                  employee: {  }
                  installments: []
                  return_info: null
                properties:
                  id:
                    type: integer
                    example: 3
                  date:
                    type: string
                    example: '2026-03-01'
                  am_contract_id:
                    type: integer
                    example: 1
                  employee_id:
                    type: integer
                    example: 5
                  status:
                    type: integer
                    example: 1
                  primary_contract:
                    type: object
                    properties:
                      crm:
                        type: object
                        properties: {  }
                  employee:
                    type: object
                    properties: {  }
                  installments:
                    type: array
                    example: []
                  return_info:
                    type: string
                    example: null
                    nullable: true
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Contract movement not found'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Contract movement not found'
                  error:
                    type: string
                    example: 'Error message'
      tags:
        - 'Package 3 Modular'
      security: []
    put:
      summary: 'Update a contract movement.'
      operationId: updateAContractMovement
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Contract movement updated successfully'
                  data: {  }
                properties:
                  message:
                    type: string
                    example: 'Contract movement updated successfully'
                  data:
                    type: object
                    properties: {  }
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Contract movement not found'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Contract movement not found'
                  error:
                    type: string
                    example: 'Error message'
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Failed to update contract movement'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Failed to update contract movement'
                  error:
                    type: string
                    example: 'Error message'
      tags:
        - 'Package 3 Modular'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                date:
                  type: string
                  description: 'The movement date.'
                  example: '2026-04-01'
                employee_id:
                  type: integer
                  description: 'The employee/maid ID.'
                  example: 5
                note:
                  type: string
                  description: 'An optional note.'
                  example: 'Updated assignment'
                  nullable: true
                installments:
                  type: array
                  description: 'List of installments to create or update.'
                  example:
                    - architecto
                  items:
                    type: string
                    nullable: true
      security: []
    delete:
      summary: 'Delete a contract movement.'
      operationId: deleteAContractMovement
      description: ''
      parameters: []
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Contract movement deleted successfully'
                properties:
                  message:
                    type: string
                    example: 'Contract movement deleted successfully'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Contract movement not found'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Contract movement not found'
                  error:
                    type: string
                    example: 'Error message'
        500:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Failed to delete contract movement'
                  error: 'Error message'
                properties:
                  message:
                    type: string
                    example: 'Failed to delete contract movement'
                  error:
                    type: string
                    example: 'Error message'
      tags:
        - 'Package 3 Modular'
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'The contract movement ID.'
        example: 3
        required: true
        schema:
          type: integer
  /api/am-installments:
    get:
      summary: 'List installments.'
      operationId: listInstallments
      description: 'Returns a paginated list of installments with optional filters.'
      parameters:
        -
          in: query
          name: per_page
          description: 'Number of items per page. Default: 15.'
          example: 20
          required: false
          schema:
            type: integer
            description: 'Number of items per page. Default: 15.'
            example: 20
        -
          in: query
          name: sort_by
          description: 'Sort field (id, date, amount, status, created_at). Default: date.'
          example: amount
          required: false
          schema:
            type: string
            description: 'Sort field (id, date, amount, status, created_at). Default: date.'
            example: amount
        -
          in: query
          name: sort_direction
          description: 'Sort direction (asc, desc). Default: desc.'
          example: asc
          required: false
          schema:
            type: string
            description: 'Sort direction (asc, desc). Default: desc.'
            example: asc
        -
          in: query
          name: am_movment_id
          description: 'Filter by contract movement ID.'
          example: 3
          required: false
          schema:
            type: integer
            description: 'Filter by contract movement ID.'
            example: 3
        -
          in: query
          name: contract_id
          description: 'Filter by primary contract ID.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filter by primary contract ID.'
            example: 1
        -
          in: query
          name: employee_id
          description: 'Filter by employee/maid ID.'
          example: 5
          required: false
          schema:
            type: integer
            description: 'Filter by employee/maid ID.'
            example: 5
        -
          in: query
          name: employee_name
          description: 'Filter by employee/maid name.'
          example: Maria
          required: false
          schema:
            type: string
            description: 'Filter by employee/maid name.'
            example: Maria
        -
          in: query
          name: customer_name
          description: 'Filter by customer name (first or last).'
          example: Ahmed
          required: false
          schema:
            type: string
            description: 'Filter by customer name (first or last).'
            example: Ahmed
        -
          in: query
          name: crm_id
          description: 'Filter by customer (CRM) ID.'
          example: 1
[...]
